* {
  margin: 0;
  padding: 0;
}

:root {
	--nav-bg-color: #1F75CB;
	--main-color: #ffffff;
}

.navbar {
  padding: 24px;
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  margin-right: 24px;
}
.navbar__list-btn {
  margin-left: 24px;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  height: auto;
  background-color: var(--nav-bg-color);
  cursor: pointer;
  color: var(--main-color);
  padding: 12px 16px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
}
.btn:hover {
  background-color: var(--main-color);
  color: #1C1C1C;
}

.navbar__profile_btn {
  height: 42px;
  padding: 12px 16px;
  background: var(--nav-bg-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar__profile_btn:hover {
  background-color: var(--main-color);
}

.navbar__profile_icon {
  border-radius: 50%;
  height: 24px;
}